body{
    font-size: 20px;
    color: blue;
}
    .big-text{
        font-size:24px;
    }
    .small-text{
        font-size:12px;
    }
/* Esta clase añade el peso bold a la fuente */
.bold {
    font-weight: bold;
  }

  .sans-serif{
      font-family: sans-serif;
  }
    /*colors can  be normal, hexadecimal or RGB*/
  p{
      color: #4D8FAC;
  }

  .sans-serif{
      font-family: sans-serif;
      color: #C3272B;
  }